body {
    font-family: 'Gentium Book Basic';
    margin: auto;
}

fieldset {
    width:200px;
    height:200px;
}

header {
    background-image: url("../images/logo.jpg");
    background-size: cover;
    height: 600px;
}

header .top .nav {
   justify-content: space-around;
   margin-left: 200px;
}

header .top .nav li a {
     text-decoration: none;
     text-transform: uppercase;
     color: #dba613;
     margin-top: 20px;
}