body {

    font-family: 'Neucha', cursive;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
}

.btn-primary {
    color: grey;
    background-color: #fff;
    border-color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.relative {
    position: relative;
}

#scrollToTop {
    display: none;
    width: 67px;
    height: 102px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: url("../images/to-top-icon.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

#scrollToTop:hover {
    text-decoration: none;
}

#scrollToTop > span {
    display: block;
    text-align: center;
    margin-top: 35px;
    color: #efa24b;
}

header {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    height: 850px;
}

.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: #fafaf8;
    font-size: 26px;
    margin: 0 35px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #bafaf8;
    opacity: 0.8;
}

.history {
    background-color: #f4f4f4;
    padding: 60px 0 20px 0;
}

.history .text {
    margin-top: 10%;
}

.ingredients {
    background-image: url("../images/ingredients.jpg");
    height: 750px;
    padding-top: 2%;
}

.ingredients-text {
margin: 30px 20px 30px 80px;
}

.create {
    background-color: #f4f4f4;
    padding-top: 5%;
    padding-bottom: 5%;
}

.create .relative > h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 33%;
    text-indent: 10%;
}

.summer-addition {
    background-image: url("../images/new.jpg");
    height: 800px;
}

#events {
    padding-top: 5%;
    padding-bottom: 5%;
}

#carousel {
    width: 600px;
    margin: 20px auto 0 auto;
}

.main-footer {
    background: url("../images/footer-bg.png") repeat;
    padding-top: 5%;
    padding-bottom: 10px;
    color: white;
}

.main-footer .links a {
    color: white;
}

.main-footer .links .social-links a {
    display: inline-block;
}

.copyright {
    margin-top: 30px;
}

#map {
    width: 100%;
    height: 300px;
    background-color: grey;
}

