body {
    font-family: 'Gentium Book Basic';
    margin: auto;
}

fieldset {
    width:200px;
    height:200px;
}

header {
    background-image: url("logo.jpg");
    background-size: cover;
    height: 600px;
}

header .top .navigation ul {
   display: flex; 
   list-style-type: none;
   justify-content: space-around;
   text-decoration: none;
}

header .top .navigation ul li a {
     text-decoration: none;
     text-transform: uppercase;
     color: #dba613;
}