@font-face {
    font-family: 'Gentium Book Basic';
    src: url('GentiumBookBasic-Italic.eot');
    src: url('GentiumBookBasic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GentiumBookBasic-Italic.woff2') format('woff2'),
        url('GentiumBookBasic-Italic.woff') format('woff'),
        url('GentiumBookBasic-Italic.ttf') format('truetype'),
        url('GentiumBookBasic-Italic.svg#GentiumBookBasic-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gentium Book Basic';
    src: url('GentiumBookBasic-BoldItalic.eot');
    src: url('GentiumBookBasic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GentiumBookBasic-BoldItalic.woff2') format('woff2'),
        url('GentiumBookBasic-BoldItalic.woff') format('woff'),
        url('GentiumBookBasic-BoldItalic.ttf') format('truetype'),
        url('GentiumBookBasic-BoldItalic.svg#GentiumBookBasic-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gentium Book Basic';
    src: url('GentiumBookBasic.eot');
    src: url('GentiumBookBasic.eot?#iefix') format('embedded-opentype'),
        url('GentiumBookBasic.woff2') format('woff2'),
        url('GentiumBookBasic.woff') format('woff'),
        url('GentiumBookBasic.ttf') format('truetype'),
        url('GentiumBookBasic.svg#GentiumBookBasic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentium Book Basic';
    src: url('GentiumBookBasic-Bold.eot');
    src: url('GentiumBookBasic-Bold.eot?#iefix') format('embedded-opentype'),
        url('GentiumBookBasic-Bold.woff2') format('woff2'),
        url('GentiumBookBasic-Bold.woff') format('woff'),
        url('GentiumBookBasic-Bold.ttf') format('truetype'),
        url('GentiumBookBasic-Bold.svg#GentiumBookBasic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

